<html>
    <head>
        <title>Blog App </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" integrity="sha512-dEiw9Y+mvqQrQC3EwAKP4Bc9LGyola/4tCIRCq7c7VytHO9HUVW7+CmXCirQvLhx4EwqSbUulm6FlG1wHO/SSg==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/app.css">
        
    </head>
    <body style="margin-top: 60px;">
        <div  class="ui fixed inverted menu">
            <div  class="ui container">
                <div class="header item"> <i style="color: rgba(94, 243, 57, 0.808); " class="stumbleupon icon"></i> आपल 
                    गिरगाव</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New post</a>
            </div>
        </div>
        <!-- <p>From the header file</p> -->
